<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Down of Maintenance</title>
    </head>

    <body>
        <h1>Site is currently down.</h1>
        <p>The site is currently being updated. Come back soon.</p>
    </body>
</html>
